.exvo-dialog {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.exvo-dialog .header {
  height: 38px;
  background: url(images/exvo_components/dialog/header_bkg.png) repeat-x 0 0;
  padding: 0 15px;
  text-align: center;
}

.exvo-dialog .header-left {
  height: 38px;
  width: 13px;
  background: url(images/exvo_components/dialog/header_left.png) no-repeat 0 0;
}

.exvo-dialog .header-right {
  height: 38px;
  width: 13px;
  background: url(images/exvo_components/dialog/header_right.png) no-repeat 0 0;
}

.exvo-dialog .body {
  background: white;
  padding: 15px 15px 30px 15px;
}

.exvo-dialog .body-right {
  width: 13px;
  background: url(images/exvo_components/dialog/body_right.png) repeat-y 0 0;
}

.exvo-dialog .body-left {
  width: 13px;
  background: url(images/exvo_components/dialog/body_left.png) repeat-y 0 0;
}

.exvo-dialog .footer {
  height: 37px;
  background: url(images/exvo_components/dialog/footer_bkg.png) repeat-x 0 0;
}

.exvo-dialog .footer-right {
  width: 13px;
  height: 37px;
  background: url(images/exvo_components/dialog/footer_right.png) repeat-y 0 0;
}

.exvo-dialog .footer-left {
  width: 13px;
  height: 37px;
  background: url(images/exvo_components/dialog/footer_left.png) repeat-y 0 0;
}

.exvo-dialog .bottom {
  height: 13px;
  background: url(images/exvo_components/dialog/bottom_bkg.png) repeat-x 0 0;
}

.exvo-dialog .bottom-left {
  width: 13px;
  height: 13px;
  background: url(images/exvo_components/dialog/bottom_left.png) no-repeat 0 0;
}

.exvo-dialog .bottom-right {
  width: 13px;
  height: 13px;
  background: url(images/exvo_components/dialog/bottom_right.png) no-repeat 0 0;
}

.exvo-dialog .footer .buttons {
  float: right;
}
