div.toolbar div.input {
    margin: 12px 15px 0 0;
}

div.input *{
    display: block;
    float:left;
    width: 5px;
    height: 24px;
}

div.input span.left{
    width: 5px;
    height: 24px;
    background: url(images/input_border_left.png) no-repeat 0 0;
}

div.input span.right{
    width: 5px;
    height: 24px;
    float:left;
    background: url(images/input_border_right.png) no-repeat 0 0;
}

div.input input{
    border: 0 none;
    outline: none;
    height: 18px;
    background: url(images/input_border.png) repeat-x 0 0;
    padding: 3px 0 3px 0;
    width: 120px;
    height: 20px;
}

input.search-default {
    color: #b8b8b8;
}